<div class="d-flex h-5 pl-3 columnbar ">
    <div class="fill mr-1r"></div>
    <div class="w-20">Name</div>
    <div class="w-20">Phone number</div>
    <div class="w-20">Expiration Date</div>
</div>