<div class="mainpanel">
    <div class="d-flex justify-content-xl-end" id="mainpanel-closebutton"><div class="btn-close btn-danger"></div></div>
    <h1>Update User</h1>
    <form action="/meeps" method="POST" class="h-75">
        <div class="mt-5 h-75">
            <input class="w-100" type="text" name="name" id="name" placeholder="Name">
            <input class="w-100" type="text" name="phonenumber" id="phonenumber" placeholder="Phone Number">
            <input class="w-100" type="date" name="date" id="date" placeholder="Expiration date">
            <div class="mt-5">Delkurser
                <input class="w-100" type="date" name="information 1" id="information 1" >
                <input class="w-100" type="date" name="information 2" id="information 2" >
                <input class="w-100" type="date" name="information 3" id="information 3" >
                <input class="w-100" type="date" name="information 4" id="information 4" >
                <input class="w-100" type="date" name="information 5" id="information 5" >
            </div>
        </div>
        
        <div class="d-flex justify-content-xl-end">
            <button class="btn btn-success" id="mainpanel-submit" type="submit">Add</button>
        </div>
    </form>
</div>