<div class="sidepanel">
    <div>
        <h1>Username</h1>
    </div>
    <div class="mb-2">
        <div>Phone Number: <span>-</span></div>
        <div>Date: <span>-</span></div>
    </div>
    <div>
        <h4>Information</h4>
        <div>Information 1: <span>-</span></div>
        <div>Information 2: <span>-</span></div>
        <div>Information 3: <span>-</span></div>
        <div>Information 4: <span>-</span></div>
        <div>Information 5: <span>-</span></div>
    </div>
</div>