{% extends layout %}
{% block  content %}
<main class="container h-100 ">
    {% include 'components/taskform.njk' %}
    {% include 'components/sidepanel.njk' %}
    {% include 'components/mainpanel.njk' %}
    {% include 'components/columns.njk' %}
    {% include 'components/uploadpanel.njk' %}
    {% include 'components/uploadcompletepanel.njk' %}
  
     <div class="list-container h-80 custom-scrollbar">
        <ul class="list-group">
        {% for meep in meeps %}
            <li class=" list-group-item justify-content-between hover-grey hover-pointer">
                <div class="user-item" id="{{meep.id}}">
                    <div class="mr-1r">
                        <input type="checkbox">
                    </div>
                    <div class="custom-text-body">
                        {{meep.body}}
                    </div>
                    <div class="custom-text-body">
                        {{meep.phonenumber}}
                    </div>
                    <div class="custom-text-body">
                        {{meep.expiration_date}}
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</main>
<script src="/javascripts/mark.js"></script>
{% endblock %}